
.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1em;
  }
  .article img {
	
		width: 100%;
		height: 100%;
		object-fit: cover;
		
  }

  .article P{
	font-family: 'JakobCTT', arial;
	/* display: block; */
    font-size: 1.7rem;
	font-weight: bold;
    text-align: center;
    color: rgb(3 47 83);;
    /* background-color: var(--tributeAfterBefore); */
    /* border-radius: 0.5em; */
    text-shadow: var(--textShadow);
    /* box-shadow: var(--boxShadow); */
	padding: 0.2rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .navLink {
	position: absolute;
	padding: 0.1em 2em 0 2em;
	margin-right: 1em;
	box-sizing: border-box;
	top: 5%;
    left: 7%;
	border: 1px solid rgb(3 47 83);;
	border-radius: 1em;
	text-decoration: none;
    font-weight: bold;
	color: var(--buttonColor);
    background-color: var(--buttonBack);
    /* opacity: 0.7; */
    box-shadow: var(--buttonShadow)
  }
  .navLink21 {
	position: absolute;
	padding: 0.1em 2em 3em 2em;
	/* margin-right: 1em; */
	box-sizing: border-box;
	top: 77%;
    left: 10%;
    line-height: 3.5em;
	border: 1px solid rgb(3 47 83);;
	border-radius: 9em;
	text-decoration: none;
	color: var(--buttonColor);
    font-weight: bold;
    background-color: var(--buttonBack);
    height: 4em;
    box-shadow: var(--buttonShadow)
  }
  .navLink22 {
	position: absolute;
	padding: 0.1em 2em 3em 2em;
	/* margin-right: 1em; */
	box-sizing: border-box;
	top: 77%;
    left: 56%;
    line-height: 3.5em;
	border: 1px solid rgb(3 47 83);;
	border-radius: 9em;
	text-decoration: none;
    font-weight: bold;
	color: var(--buttonColor);
    background-color: var(--buttonBack);
    height: 4em;
    box-shadow: var(--buttonShadow)
  }
  .navLink23 {
	position: absolute;
	padding: 0.1em 2em 3em 2em;
	/* margin-right: 1em; */
	box-sizing: border-box;
	top: 88%;
    left: 34%;
    line-height: 3.5em;
	border: 1px solid rgb(3 47 83);;
	border-radius: 9em;
	text-decoration: none;
    font-weight: bold;
	color: var(--buttonColor);
    background-color: var(--buttonBack);
    height: 4em;
    box-shadow: -8px 15px 43px 20px rgba(34, 60, 80, 0.3) inset;
  }